@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: #6741d9;
	border-radius: 10px;
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	background: rgba(0, 0, 0, 0.87);
}

body {
	font-family: "Arvo", serif !important;
	color: white !important;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px;
}
